﻿<umb-panel ng-controller="DUUG.CustomerCreateController">
    <umb-header>
        <div class="span4">
                <input type="text"
                    class="umb-headline" 
                    localize="placeholder"
                    select-on-focus 
                    placeholder="@placeholders_entername" 
                    ng-model="customer.Name" />
        </div>
        <div class="span8">
                <div class="btn-toolbar pull-right umb-btn-toolbar">
                        <a href class="btn btn-primary" ng-click="save(customer)" prevent-default><localize key="buttons_save">Save</localize></a>
                </div>
        </div>
    </umb-header>
</umb-panel>