﻿<form name="customerForm"
    ng-controller="DUUG.CustomerEditController"
    ng-show="loaded"
    ng-submit="save(customer)"
    val-form-manager>
    <umb-panel>
        <umb-header tabs="tabs">
            <div class="span7">
                <umb-content-name placeholder="@placeholders_entername"
                                  ng-model="customer.Name" />
            </div>
            
            <div class="span5">
                <div class="btn-toolbar pull-right umb-btn-toolbar">                   
                    <button type="submit" data-hotkey="ctrl+s" class="btn btn-success">
                        <localize key="buttons_save">Save</localize>
                    </button>
                </div>
                </div>
            </div>
        </umb-header>
        
        <umb-tab-view>
            <umb-tab id="tabContent" rel="Content" class="active">
                <umb-pane>
                    <umb-control-group label="Name" description="Name">
                        <input type="text" class="umb-editor umb-textstring" ng-model="customer.Name" required />
                    </umb-control-group>
 
                    <umb-control-group label="Street" description="Street’">
                        <input type="text" class="umb-editor umb-textstring" ng-model="customer.Street" />
                    </umb-control-group>
                     
                    <umb-control-group label="HouseNumber" description="HouseNumber">
                        <input type="text" name="housenumber" class="umb-editor umb-textstring" ng-model="customer.HouseNumber" val-regex="^\d{1,3}$" />
                        <span class="help-inline" ng-show="customerForm.$dirty && customerForm.housenumber.$invalid">Invalid</span>
                    </umb-control-group>
                     
                    <umb-control-group label="City" description="City">
                        <input type="text" class="umb-editor umb-textstring" ng-model="customer.City" />
                    </umb-control-group>
 
                    <umb-control-group label="ZipCode" description="ZipCode">
                        <input type="text" class="umb-editor umb-textstring" ng-model="customer.ZipCode" />
                    </umb-control-group>
                     
                    <umb-control-group label="Email" description="Email">
                        <input type="text" class="umb-editor umb-textstring" ng-model="customer.Email" />
                    </umb-control-group>
                     
                    <umb-control-group label="PhoneNumber" description="PhoneNumber">
                        <input type="text" class="umb-editor umb-textstring" ng-model="customer.PhoneNumber" />
                    </umb-control-group>
                </umb-pane>
            </umb-tab>
            <umb-tab id="tabLogo" rel="Logo">
                <umb-pane>
                     <umb-property
                            property="property"
                            ng-repeat="property in logo">
                            <umb-editor model="property"></umb-editor>
                        </umb-property>
                </umb-pane>
            </umb-tab>
        </umb-tab-view>        
    </umb-panel>
</form>
